server:
  port: 8010

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**

        - id: member-service
          uri: lb://member-service
          predicates:
            - Path=/api/members/**

        - id: post-service
          uri: lb://post-service
          predicates:
            - Path=/api/posts/**

        - id: search-service
          uri: lb://search-service
          predicates:
            - Path=/api/search/**

        - id: frontend
          uri: lb://frontend
          predicates:
            - Path=/**

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      database: ${REDIS_DATABASE}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true

    service-url:
      defaultZone: http://admin:admin12345@localhost:8761/eureka

    healthcheck:
      enabled: true

jwt:
  public-key: ${JWT_PUBLIC_KEY}

auth:
  api-url: http://localhost:8002/auth
  reissue-endpoint: /reissue

management:
  endpoint:
    gateway:
      access: read_only

  endpoints:
    web:
      exposure:
        include: health, info, gateway
